.game-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper__status-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px;
}
